.container{
    max-width: 1250px;
    margin: 0 auto;
}
.txt_center{
    text-align: center;
}
.d_flex{
    display: flex;
    align-items: center;
}
.space_btw{
    justify-content: space-between;
}
.menu{
    display: block;
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 5px 15px;
}